{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-handler-names": "off",
    "camelcase": "off",
    "no-debugger": "off",
    "indent": ["error", 2, { "ObjectExpression": 1 }],
    "react/prop-types": "off"
  }
}
