.home {
  min-height: 400px;
  padding: 100px 0;
  text-align: center;

  &-logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  &-content {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }

  &-link {
    margin-left: 40px;
  }
}

.highlight {
  color: #f26 !important;
}

.counter {
  text-align: center;

  &-number {
    font-size: 32px;
    color: #0a0;
    margin: 20px 0 30px;
  }

  &-buttons {
    padding-left: 50px;
  }

  &-button {
    margin-right: 50px;
  }
}

.list {
  li {
    line-height: 32px;
    border-bottom: 1px dashed #ddd;
    list-style: circle inside;
  }
}

.footer {
  height: 36px;

  .goback {
    float: right;
    background-color: white;
    color: black;
    border: 1px solid #1890ff;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
  }
}

.request {
  &-button {
    margin-right: 15px;
  }

  &-box {
    margin: 20px 0 5px 0;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
  }
}
